/* Slider.css */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  align-items: stretch;
}
.embla__slide {
  position: relative;
  min-width: 0;
  display: flex;
}
.embla__slide > * {
  width: 100%;
}
